include vars.pug
nav
    a(href="#") Lapa1 
    a(href="#") Lapa2 
    a(href="#") Lapa3 
    a(href="#") Lapa3 
    a(href="#") Lapa3 
    a(href="#") Lapa3 
    a(href="#") Lapa3 
    a(href="#") Lapa3 
    a(href="#") Lapa3 